<h1>My Profile</h1>
<div class="profile-box">
    <img src="https://themes.gohugo.io//theme/hugo-geo//img/profile.png">
    {{!-- <img src="{{imageUrl}}"> --}}
    <div class="profile">
        <div class="info">
            <h3>My Teams</h3>
            <form action="/profile" method="POST">
                <p>Developers</p>
                <input type="submit" value="Leave Team">
            </form>
        </div>
        <div class="more-info">
            <h3>My Projects</h3>
            <p>New project!</p>
        </div>
    </div>
</div>